@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Peralta&display=swap');

:root {
	--main-bg-color: #8accd5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--main-bg-color);
	font-family: 'DynaPuff', 'Comic Sans MS', sans-serif;
	overflow: hidden;
	line-height: 1.5;
}

/* Utility classes */
.hidden {
	display: none !important;
}

.hide {
	opacity: 0;
}

.animate-menu {
	transition: transform 1s;
	transform: scale(1.03);
}

.btn {
	padding: 1rem;
	font-size: 1.2rem;
	border-bottom: 5px solid #550a23;
	border-radius: 0.5rem;
	background-color: #801531;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
	transition: transform 0.2s;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
	background-color: #cf285a;
	transform: scale(1.05);
}

.btn-disabled {
	background-color: #808080;
	border-bottom: 5px solid #383838;
}

.btn-disabled:hover {
	transition: none;
	transform: none;
	background-color: #808080;
	border-bottom: 5px solid #383838;
	cursor: not-allowed;
}

.btn-disabled:active {
	border-style: outset;
	transition: none;
	transform: none;
	background-color: #808080;
	border-bottom: 5px solid #383838;
	cursor: not-allowed;
}

.rainbow-text {
	animation: rainbow-glow 10s infinite;
	color: red;
	background-color: #333;
	border-radius: 1rem;
	padding: 0.25rem;
}

@keyframes rainbow-glow {
	0% {
		color: red;
		background-color: #333;
	}
	15% {
		color: orange;
	}
	30% {
		color: yellow;
		background-color: #333;
	}
	45% {
		color: green;
		background-color: white;
	}
	60% {
		color: blue;
	}
	75% {
		color: indigo;
		background-color: whitesmoke;
	}
	90% {
		color: violet;
	}
}

/* MODAL STYLES */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.modal-content {
	background-color: white;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	position: relative;

	max-width: 50%;
}

.modal-content h2 {
	margin-bottom: 1rem;
}

.modal-content .close-button {
	cursor: pointer;
	text-align: center;
	background-color: #801531;
	border-radius: 50%;
	color: white;
	padding: 0.2rem 0.8rem 0.5rem 0.8rem;
	font-size: 1.15rem;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.2rem;
}

.modal-content .close-button:hover {
	background-color: #cf285a;
}

.modal-content h3 {
	margin-bottom: 0.5rem;
}

.modal-content strong {
	color: #cf285a;
}

.modal-content p {
	margin-bottom: 1rem;
}

.modal-content ul li {
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

/* Game objects */
.raining-cat-chip {
	z-index: -1;
	opacity: 0.5;
	position: absolute;
	top: -50px;
	width: 50px;
	height: 50px;
	background-size: cover;
	transition: transform 5s linear;
}

/* General Game Layout */
#game-frame {
	display: flex;
	align-items: flex-start;
	justify-content: center;

	min-width: 100vw;
	min-height: 100vh;
}


/* GAME MAIN MENU */
#scene-main-menu,
#scene-chip-select,
#scene-game,
#scene-game-over {
	text-align: center;
	color: white;
}

#scene-main-menu {
	margin-top: 10rem;
}

#scene-main-menu #menu-content {
	background-color: rgba(83, 116, 150, 0.9);
	border: 5px dashed whitesmoke;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
	align-items: center;

	transition: transform 1s;
}

#menu-content small {
	font-size: 0.8rem;
	margin-top: 2rem;
}

#game-title {
	font-family: 'Peralta', serif;
	font-size: 2.5rem;
	margin-bottom: 3rem;
}

#menu-buttons {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 200px;
	margin: 0 auto;
}

/* CHARACTER SELECT MENU */
#scene-chip-select {
	margin-top: 3rem;
}

#scene-chip-select #chip-select-content {
	background-color: rgba(83, 116, 150, 0.9);
	border: 5px dashed whitesmoke;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

	transition: transform 1s;
}

#chip-select-content h2 {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}

#chip-select-content hr {
	color: white;
}

#chip-options {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

#chip-options h3 {
	font-size: 1.5rem;
}

#chip-options .cat-chip {
	width: 100px;
	height: 100px;
	background-size: cover;
	cursor: pointer;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 50%;

	transition: all 100ms;
}

#chip-options .cat-chip.unavailable {
	filter: grayscale(1);
	transform: none;
}

#chip-options .cat-chip.unavailable:hover {
	transform: none;
	cursor: not-allowed;
}

#chip-options .cat-chip.selected {
	border: 5px solid #ffff00;
}

#chip-options .cat-chip.selected:hover {
	transform: none;
	cursor: not-allowed;
}

#chip-options .cat-chip:hover {
	transform: scale(1.1);
}

#chip-options .cat-chip.animate-chip {
	transform: translateY(-5px);
}

#chip-options button {
	width: 150px;
}

#red-team {
	color: #cf285a;
	font-weight: bold;
	font-size: 1.2rem;
}

#red-team hr {
	border-color: #cf285a;
}

#blue-team {
	color: #285acf;
	font-weight: bold;
	font-size: 1.2rem;
}

#blue-team hr {
	border-color: #285acf;
}

#red-team,
#blue-team {
	background-color: #b9d4ab;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#red-team p,
#blue-team p {
	margin-bottom: 1rem;
}

#red-team hr,
#blue-team hr {
	margin-bottom: 1rem;
}

.chip-options-grid {
	display: flex;
	gap: 2rem;
}

/* RED CHARACTERS */
#chip-red-options #red-1 {
	background-image: url('images/cat-chips/catchip-red-1.png');
}
#chip-red-options #red-2 {
	background-image: url('images/cat-chips/catchip-red-2.png');
}
#chip-red-options #red-3 {
	background-image: url('images/cat-chips/catchip-red-3.png');
}
#chip-red-options #red-4 {
	background-image: url('images/cat-chips/catchip-red-4.png');
}
#chip-red-options #red-5 {
	background-image: url('images/cat-chips/catchip-red-5.png');
}
#chip-red-options #red-6 {
	background-image: url('images/cat-chips/catchip-red-6.png');
}

/* BLUE CHARACTERS */
#chip-blue-options #blue-1 {
	background-image: url('images/cat-chips/catchip-blue-1.png');
}
#chip-blue-options #blue-2 {
	background-image: url('images/cat-chips/catchip-blue-2.png');
}
#chip-blue-options #blue-3 {
	background-image: url('images/cat-chips/catchip-blue-3.png');
}
#chip-blue-options #blue-4 {
	background-image: url('images/cat-chips/catchip-blue-4.png');
}
#chip-blue-options #blue-5 {
	background-image: url('images/cat-chips/catchip-blue-5.png');
}
#chip-blue-options #blue-6 {
	background-image: url('images/cat-chips/catchip-blue-6.png');
}

/* GAME SCENE */
#start-game-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#scene-game {
	/* margin-top: 1rem; */
	width: 100vw;
	height: 100vh;
}

#game-panel {
	width: 90%;
	height: 98%;
	margin: 0 auto;

	background-color: rgba(83, 116, 150, 0.9);
	border: 5px dashed whitesmoke;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
}

#game-panel h2 {
	font-family: 'Peralta', serif;
	font-size: 2.25rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

#game-panel-players-board {
	display: flex;
	gap: 1.5rem;

	width: 100%;
	height: 100%;
}

#player-1-section,
#player-2-section {
	flex: 1;
}

#player-1-section hr,
#player-2-section hr {
	width: 80%;
	margin: 1.5rem auto;
}

#player-1-section img#player-1-profile-image,
#player-2-section img#player-2-profile-image {
	width: 100px;
	height: 100px;
	box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	margin-bottom: 1rem;
}

#player-1-section img#player-1-profile-image.active,
#player-2-section img#player-2-profile-image.active {
	border: 3px solid yellow;
}

#player-1-section h3,
#player-2-section h3 {
	font-size: 2rem;
}

#player-1-section h4,
#player-2-section h4 {
	margin-top: 3rem;
	font-weight: normal;
	font-size: 1.25rem;
}

#game-buttons {
	display: flex;
	gap: 1.5rem;
}

/* GAME BOARD (grid) - 7 col 6 row */
#game-board-bg-container {
	position: relative;
	margin-top: 4rem;
}

#player-move-selection {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	top: -3rem;
	left: -1.25rem;

	transition: transform 200ms;
}

#left-arrow img {
	width: 50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
	margin: 0 auto;

	transform: scaleX(-1) rotate(90deg);
}

#right-arrow img {
	width: 50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	margin: 0 auto;

	transform: rotate(90deg);
}

#player-chip {
	width: 100px;
	height: 100px;
	background-size: cover;
	border-radius: 50%;
	margin: 0 auto;
}

#player-chip img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.animate-controls {
	animation: floatUpDown 1.25s infinite;
}

@keyframes floatUpDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

.animate-controls-alternate {
	animation: floatUpDown 3s infinite;
}

@keyframes floatUpDown {
	0% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}

.animate-player-chip {
	animation: slowGrowShrink 2s infinite;
}

.animate-player-chip-controls {
	transform: rotate(10deg);
	animation: slowTilt 2s ease infinite;
}

@keyframes slowGrowShrink {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slowTilt {
	0% {
		transform: rotate(10deg);
	}

	25% {
		transform: rotate(-10deg);
	}

	50% {
		transform: rotate(10deg);
	}
	75% {
		transform: rotate(-10deg);
	}

	100% {
		transform: rotate(10deg);
	}
}

#player-1-turn-time,
#player-2-turn-time {
	margin-left: 0.25rem;
}

#player-1-special-abilities,
#player-2-special-abilities {
	margin: 1rem auto 0 auto;
	background-color: #33b1bd;
	border: 3px dashed #1b5d63;
	border-radius: 1rem;
	width: 75%;
	padding: 2rem;
	max-width: 250px;
	
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#player-1-special-abilities div,
#player-2-special-abilities div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#player-1-special-abilities .ability-name,
#player-2-special-abilities .ability-name {
	margin-bottom: 0.5rem;
	font-size: 1rem;
}

.ability.block {
	background-color: #c2b7f3;
}

.ability.scratch {
	background-color: #d0df6a;
}

.ability.shake {
	background-color: #f5a859;
}

.ability.unavailable:hover {
	transform: none;
	cursor: not-allowed;
}

#player-1-special-abilities img.ability,
#player-2-special-abilities img.ability {
	width: 100px;
	height: 100px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}

#player-1-special-abilities img.ability:hover,
#player-2-special-abilities img.ability:hover {
	border: 3px solid yellow;
	cursor: pointer;

	animation: slowGrowShrink 2s infinite;
}

#player-1-special-abilities img.unavailable:hover,
#player-2-special-abilities img.unavailable:hover {
	animation: none;
	transform: none;
	cursor: not-allowed;
	border: none;
}

#player-1-special-abilities img.ability-used,
#player-2-special-abilities img.ability-used {
	filter: grayscale(1);
	cursor: not-allowed !important;
	border: none !important;
	animation: none !important;
	transform: none !important;
}

.ability-name:has(+ .ability.ability-used) {
	text-decoration: line-through #cf285a;
	color: #555555;
}

.ability.ability-activated {
	transform: scale(1.2);
	border: 3px solid yellow;

	animation: slowGrowShrink 1s infinite;
}

/* FIXME: */
.board-chip.scratch-hover {
	outline: 3px solid yellow;
	border-radius: 50%;
}

.board-chip.scratch-hover > img {
	opacity: 50%;
}

.board-chip.scratch-hover::after {
	content: "";
	width: 125px;
	height: 125px;
	position: absolute;
	top: -1rem;
	left: -0.75rem;
	background-image: url("images/abilities/ability-scratch-mark.png");
	background-size: cover;
	border-radius: 50%;
	cursor: pointer;

	animation: slowGrowShrink 1s infinite;
}

.animate-chip-scratch {
	animation: goAway 1s ease-in-out;
}

@keyframes goAway {
	0% {
		opacity: 100%;
	}

	100% {
		opacity: 0;
	}
}

/* BOARD CHIPS */
.board-chip {
	position: absolute;
	width: 105px;
	height: 105px;

	animation: drop-chip 1s ease-in;
}

.board-chip-image {
	width: 100%;
	height: 100%;
}

/* COLUMNS */
.col-0 {
	left: 3.5rem;
}

.col-1 {
	left: 11.75rem;
}

.col-2 {
	left: 20.25rem;
}

.col-3 {
	left: 28.5rem;
}

.col-4 {
	left: 37rem;
}

.col-5 {
	left: 45.25rem;
}

.col-6 {
	left: 53.5rem;
}

/* ROWS & ANIMATIONS */
.row-5 {
	bottom: 12%;
	animation: drop-chip-row-5 750ms ease-in;
}

@keyframes drop-chip-row-5 {
	0% {
		bottom: 50rem;
	}
	100% {
		bottom: 7.25rem;
	}
}

.row-4 {
	bottom: 26.2%;
	animation: drop-chip-row-4 650ms ease-in;
}

@keyframes drop-chip-row-4 {
	0% {
		bottom: 50rem;
	}
	100% {
		bottom: 16rem;
	}
}

.row-3 {
	bottom: 24.5rem;
	animation: drop-chip-row-3 500ms ease-in;
}

@keyframes drop-chip-row-3 {
	0% {
		bottom: 50rem;
	}
	100% {
		bottom: 24.5rem;
	}
}

.row-2 {
	bottom: 33rem;
	animation: drop-chip-row-2 350ms ease-in;
}

@keyframes drop-chip-row-2 {
	0% {
		bottom: 50rem;
	}
	100% {
		bottom: 33rem;
	}
}

.row-1 {
	bottom: 41.5rem;
	animation: drop-chip-row-1 250ms ease-in;
}

@keyframes drop-chip-row-1 {
	0% {
		bottom: 50rem;
	}
	100% {
		bottom: 41.5rem;
	}
}

.row-0 {
	bottom: 49.75rem;
	animation: drop-chip-row-0 100ms ease-in;
}

@keyframes drop-chip-row-0 {
	0% {
		bottom: 50rem;
	}
	100% {
		bottom: 49.75rem;
	}
}

/* GAME OVER SCENE */
#scene-game-over {
	margin-top: 10rem;
}

#scene-game-over #game-over-content {
	background-color: rgba(83, 116, 150, 0.9);
	border: 5px dashed whitesmoke;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
	align-items: center;

	transition: transform 1s;
}

#results-panel {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#results-panel h2 {
	font-size: 2rem;

	animation: slowGrowShrink 2s infinite;
}

#results-panel h3 {
	font-size: 1.5rem;
}

#results-panel p {
	font-size: 1.2rem;
}