@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Peralta&display=swap');

:root {
	--main-bg-color: #8accd5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--main-bg-color);
	font-family: 'DynaPuff', 'Comic Sans MS', sans-serif;
	overflow: hidden;
	line-height: 1.5;
}

/* Utility classes */
.hidden {
	display: none !important;
}

.hide {
	opacity: 0;
}

.animate-menu {
	transition: transform 1s;
	transform: scale(1.03);
}

.btn {
	padding: 1rem;
	font-size: 1.2rem;
	border-bottom: 5px solid #550a23;
	border-radius: 0.5rem;
	background-color: #801531;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
	transition: transform 0.2s;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
	background-color: #cf285a;
	transform: scale(1.05);
}

.btn-disabled {
	background-color: #808080;
	border-bottom: 5px solid #383838;
}

.btn-disabled:hover {
	transition: none;
	transform: none;
	background-color: #808080;
	border-bottom: 5px solid #383838;
	cursor: not-allowed;
}

.btn-disabled:active {
	border-style: outset;
	transition: none;
	transform: none;
	background-color: #808080;
	border-bottom: 5px solid #383838;
	cursor: not-allowed;
}

/* MODAL STYLES */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.modal-content {
	background-color: white;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	position: relative;

	max-width: 50%;
}

.modal-content h2 {
	margin-bottom: 1rem;
}

.modal-content .close-button {
	cursor: pointer;
	text-align: center;
	background-color: #801531;
	border-radius: 50%;
	color: white;
	padding: 0.2rem 0.8rem 0.5rem 0.8rem;
	font-size: 1.15rem;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.2rem;
}

.modal-content .close-button:hover {
	background-color: #cf285a;
}

.modal-content h3 {
	margin-bottom: 0.5rem;
}

.modal-content strong {
	color: #cf285a;
}

.modal-content p {
	margin-bottom: 1rem;
}

.modal-content ul li {
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

/* Game objects */
.raining-cat-chip {
	z-index: -1;
	opacity: 0.5;
	position: absolute;
	top: -50px;
	width: 50px;
	height: 50px;
	background-size: cover;
	transition: transform 5s linear;
}

/* General Game Layout */
#game-frame {
	display: flex;
	align-items: flex-start;
	justify-content: center;

	min-width: 100vw;
	min-height: 100vh;
}


/* GAME MAIN MENU */
#scene-main-menu,
#scene-chip-select,
#scene-game,
#scene-game-over {
	text-align: center;
	color: white;
}

#scene-main-menu {
	margin-top: 10rem;
}

#scene-main-menu #menu-content {
	background-color: #0182a7;
	border: 5px dashed whitesmoke;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
	align-items: center;

	transition: transform 1s;
}

#menu-content small {
	font-size: 0.8rem;
	margin-top: 2rem;
}

#game-title {
	font-family: 'Peralta', serif;
	font-size: 2.5rem;
	margin-bottom: 3rem;
}

#menu-buttons {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 200px;
	margin: 0 auto;
}

/* CHARACTER SELECT MENU */
#scene-chip-select {
	margin-top: 3rem;
}

#scene-chip-select #chip-select-content {
	background-color: #0182a7;
	border: 5px dashed whitesmoke;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

	transition: transform 1s;
}

#chip-select-content h2 {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}

#chip-select-content hr {
	color: white;
}

#chip-options {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

#chip-options h3 {
	font-size: 1.5rem;
}

#chip-options .cat-chip {
	width: 100px;
	height: 100px;
	background-size: cover;
	cursor: pointer;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 50%;

	transition: all 100ms;
}

#chip-options .cat-chip.unavailable {
	filter: grayscale(1);
	transform: none;
}

#chip-options .cat-chip.unavailable:hover {
	transform: none;
	cursor: not-allowed;
}

#chip-options .cat-chip.selected {
	border: 5px solid #ffff00;
}

#chip-options .cat-chip.selected:hover {
	transform: none;
	cursor: not-allowed;
}

#chip-options .cat-chip:hover {
	transform: scale(1.1);
}

#chip-options .cat-chip.animate-chip {
	transform: translateY(-5px);
}

#chip-options button {
	width: 150px;
}

#red-team {
	color: #cf285a;
	font-weight: bold;
	font-size: 1.2rem;
}

#red-team hr {
	border-color: #cf285a;
}

#blue-team {
	color: #285acf;
	font-weight: bold;
	font-size: 1.2rem;
}

#blue-team hr {
	border-color: #285acf;
}

#red-team,
#blue-team {
	background-color: #b9d4ab;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#red-team p,
#blue-team p {
	margin-bottom: 1rem;
}

#red-team hr,
#blue-team hr {
	margin-bottom: 1rem;
}

.chip-options-grid {
	display: flex;
	gap: 2rem;
}

/* RED CHARACTERS */
#chip-red-options #red-1 {
	background-image: url('images/cat-chips/catchip-red-1.png');
}
#chip-red-options #red-2 {
	background-image: url('images/cat-chips/catchip-red-2.png');
}
#chip-red-options #red-3 {
	background-image: url('images/cat-chips/catchip-red-3.png');
}
#chip-red-options #red-4 {
	background-image: url('images/cat-chips/catchip-red-4.png');
}
#chip-red-options #red-5 {
	background-image: url('images/cat-chips/catchip-red-5.png');
}
#chip-red-options #red-6 {
	background-image: url('images/cat-chips/catchip-red-6.png');
}

/* BLUE CHARACTERS */
#chip-blue-options #blue-1 {
	background-image: url('images/cat-chips/catchip-blue-1.png');
}
#chip-blue-options #blue-2 {
	background-image: url('images/cat-chips/catchip-blue-2.png');
}
#chip-blue-options #blue-3 {
	background-image: url('images/cat-chips/catchip-blue-3.png');
}
#chip-blue-options #blue-4 {
	background-image: url('images/cat-chips/catchip-blue-4.png');
}
#chip-blue-options #blue-5 {
	background-image: url('images/cat-chips/catchip-blue-5.png');
}
#chip-blue-options #blue-6 {
	background-image: url('images/cat-chips/catchip-blue-6.png');
}

/* GAME SCENE */
#scene-game {
	/* margin-top: 1rem; */
	width: 100vw;
	height: 100vh;
}

#game-panel {
	width: 90%;
	height: 100%;
	margin: 0 auto;

	background-color: #0182a7;
	border: 5px dashed whitesmoke;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
}

#game-panel h2 {
	font-family: 'Peralta', serif;
	font-size: 2.25rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

#game-panel-players-board {
	display: flex;
	gap: 1.5rem;

	width: 100%;
	height: 100%;
}

#player-1-section,
#player-2-section {
	flex: 1;
}

#player-1-section hr,
#player-2-section hr {
	width: 80%;
	margin: 1rem auto;
}

#player-1-section img,
#player-2-section img {
	width: 100px;
	height: 100px;
	box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	border: 1px solid yellow;
	margin-bottom: 1rem;
}

#player-1-section h3,
#player-2-section h3 {
	font-size: 2rem;
}

#game-buttons {
	display: flex;
	gap: 1.5rem;
}

/* GAME BOARD (grid) - 7 col 6 row */
#game-board-bg-container {
	position: relative;
	margin-top: 4rem;
}

#player-move-selection {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	top: -3rem;
	left: -1.25rem;

	transition: transform 200ms;
}

#left-arrow img {
	width: 50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
	margin: 0 auto;
	background-color: yellow;

	transform: scaleX(-1) rotate(90deg);
}

#right-arrow img {
	width: 50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	background-color: yellow;

	transform: rotate(90deg);
}

#player-chip {
	/* background-image: url('images/cat-chips/catchip-red-1.png'); */
	width: 100px;
	height: 100px;
	background-size: cover;
	border-radius: 50%;
	margin: 0 auto;
}

#player-chip img {
	width: 100%;
	height: 100%;
}

.animate-controls {
	animation: floatUpDown 1.25s infinite;
}

@keyframes floatUpDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

.animate-controls-alternate {
	animation: floatUpDown 3s infinite;
}

@keyframes floatUpDown {
	0% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}

.animate-player-chip {
	animation: slowGrowShrink 2s infinite;
}

@keyframes slowGrowShrink {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

#player-1-turn-time,
#player-2-turn-time {
	margin-left: 0.25rem;
}