@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Peralta&display=swap');

:root {
	--main-bg-color: #8accd5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--main-bg-color);
	font-family: 'Comic Sans MS';
	overflow: hidden;
}

/* Utility classes */
.hidden {
	display: none;
}

.animate-menu {
	transition: transform 100ms;
	transform: scale(1.03);
}

/* MODAL STYLES */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.modal-content {
	background-color: white;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	position: relative;

	max-width: 50%;
}

.modal-content h2 {
	margin-bottom: 1rem;
}

.modal-content .close-button {
	cursor: pointer;
	text-align: center;
	background-color: #801531;
	border-radius: 50%;
	color: white;
	padding: 0.2rem 0.8rem 0.5rem 0.8rem;
	font-size: 1.15rem;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.2rem;
}

.modal-content .close-button:hover {
	background-color: #cf285a;
}

.modal-content h3 {
	margin-bottom: 0.5rem;
}

.modal-content strong {
	color: #cf285a;
}

.modal-content p {
	margin-bottom: 1rem;
}

.modal-content ul li {
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

/* Game objects */
.raining-cat-chip {
	z-index: -1;
	opacity: 0.5;
	position: absolute;
	top: -50px;
	width: 50px;
	height: 50px;
	background-size: cover;
	transition: transform 5s linear;
}

/* General Game Layout */
#game-frame {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 100vw;
	min-height: 75vh;
}


/* GAME MAIN MENU */
#scene-main-menu {
	text-align: center;
	color: white;
}

#scene-main-menu #menu-content {
	background-color: #0182a7;
	border: 5px dashed whitesmoke;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

	transition: transform 1s;
}

#game-title {
	font-family: 'Peralta', serif;
	font-size: 4rem;
	margin-bottom: 3rem;
}

#menu-buttons {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 200px;
	margin: 0 auto;
}

#menu-buttons button {
	padding: 1rem;
	font-size: 1.2rem;
	border-bottom: 5px solid #550a23;
	border-radius: 0.5rem;
	background-color: #801531;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
	transition: transform 0.2s;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#menu-buttons button:hover {
	background-color: #cf285a;
	transform: scale(1.05);
}